.sidebar-menu a {
  text-decoration: none;
  color: var(--bs-body-color);
}

.sidebar-menu a:hover {
  text-decoration: underline;
}

.sidebar-menu ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.sidebar-menu li {
  margin-bottom: 0.25rem;
}

.example-list {
  line-height: 1.5;
}

.example-list a {
  text-decoration-line: none;
  text-decoration-style: dashed;
  text-underline-position: under;
}

.example-list a:hover {
  text-decoration-line: underline;
}
